# Ignore everything
/*
!.gitignore
!.gitmodules

# Except for the files and folders we want to track
!README.md
!arch_setup.md
!.config
!.bashrc
!scripts
!rice
rice/wallpapers
rice/logos
rice/shell_ascii_art.txt
!docs/
!templates/