# Ignore everything
/*
!.gitignore
!.gitmodules

# Except for the files and folders we want to track
!README.md
!arch_setup.md
!.config
!.bashrc
!scripts
!rice
!docs/

# Not the generated ascii art
rice/shell_ascii_art.txt