# Ignore everything
/*
!.gitignore
!.gitmodules

# Except for the files and folders we want to track
!fish
!nvim
!fastfetch
!matugen

!hypr
hypr/colors.conf

!kitty
kitty/colors.conf

!waybar
waybar/colors.css

!rofi
rofi/colors.rasi

cava/*
!cava/
!cava/config

Thunar/*
!Thunar/
!Thunar/uca.xml

