# Ignore everything
/*
!.gitignore
!.gitmodules

# Except for the files and folders we want to track
!hypr
hypr/colors.conf
!kitty
kitty/colors.conf
!fish
!nvim
!waybar
waybar/colors.css
!rofi
rofi/colors.rasi
!fastfetch
!matugen
cava/*
!cava/
!cava/config
!cava/colors
Thunar/*
!Thunar/
!Thunar/uca.xml

